USE [ShopMall]
GO
/****** Object:  Table [dbo].[Арендатор]    Script Date: 11/26/2025 21:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Арендатор](
	[ID_Арендатора] [int] NOT NULL,
	[Название_компании] [varchar](50) NOT NULL,
	[Телефон_представителя] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Арендатора] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TestTable]    Script Date: 11/26/2025 21:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTable](
	[Test] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 11/26/2025 21:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[ID_Сотрудника] [int] NOT NULL,
	[ФИО] [varchar](100) NOT NULL,
	[Должность] [varchar](100) NOT NULL,
	[Телефон] [bigint] NOT NULL,
	[Зарплата] [int] NULL,
	[Статус] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Сотрудника] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Объект_недвижимости]    Script Date: 11/26/2025 21:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Объект_недвижимости](
	[ID_Объекта_недвижимости] [int] NOT NULL,
	[Этаж] [int] NOT NULL,
	[Номер_на_этаже] [int] NOT NULL,
	[Цена_аренды] [int] NOT NULL,
	[Площадь] [int] NOT NULL,
	[Статус] [varchar](50) NOT NULL,
	[Наличие_окон] [varchar](10) NULL,
	[Наличие_кухонного_оборудования] [varchar](10) NULL,
	[Наличие_подсобного_помещения] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Объекта_недвижимости] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Торговая_точка]    Script Date: 11/26/2025 21:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Торговая_точка](
	[Название_магазина] [varchar](50) NOT NULL,
	[ID_Объекта_недвижимости] [int] NULL,
	[Номер_телефона] [bigint] NULL,
	[График_работы] [varchar](50) NULL,
	[Тип_магазина] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Название_магазина] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Договор_аренды]    Script Date: 11/26/2025 21:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договор_аренды](
	[ID_Договора] [int] NOT NULL,
	[ID_Объекта_недвижимости] [int] NOT NULL,
	[ID_Арендатора] [int] NOT NULL,
	[ID_Сотрудника] [int] NULL,
	[Начало_действия] [date] NOT NULL,
	[Конец_действия] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Договора] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Платеж]    Script Date: 11/26/2025 21:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Платеж](
	[ID_Платежа] [int] NOT NULL,
	[ID_Договора] [int] NOT NULL,
	[Размер] [int] NOT NULL,
	[Дата] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Платежа] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__Объект_не__Налич__49C3F6B7]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости] ADD  DEFAULT ('Нет') FOR [Наличие_окон]
GO
/****** Object:  Default [DF__Объект_не__Налич__4D94879B]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости] ADD  DEFAULT ('Нет') FOR [Наличие_кухонного_оборудования]
GO
/****** Object:  Default [DF__Объект_не__Налич__4F7CD00D]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости] ADD  DEFAULT ('Нет') FOR [Наличие_подсобного_помещения]
GO
/****** Object:  Default [CHK_Статус]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Сотрудник] ADD  CONSTRAINT [CHK_Статус]  DEFAULT ('Работает') FOR [Статус]
GO
/****** Object:  Default [DF__Торговая___Тип_м__02FC7413]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Торговая_точка] ADD  DEFAULT ('Прочее') FOR [Тип_магазина]
GO
/****** Object:  Check [CheckDates]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Договор_аренды]  WITH CHECK ADD  CONSTRAINT [CheckDates] CHECK  (([Конец_действия]>=[Начало_действия]))
GO
ALTER TABLE [dbo].[Договор_аренды] CHECK CONSTRAINT [CheckDates]
GO
/****** Object:  Check [CK__Объект_не__Налич__4AB81AF0]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD CHECK  (([Наличие_окон]='Нет' OR [Наличие_окон]='Есть'))
GO
/****** Object:  Check [CK__Объект_не__Налич__4E88ABD4]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD CHECK  (([Наличие_кухонного_оборудования]='Нет' OR [Наличие_кухонного_оборудования]='Есть'))
GO
/****** Object:  Check [CK__Объект_не__Налич__5070F446]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD CHECK  (([Наличие_подсобного_помещения]='Нет' OR [Наличие_подсобного_помещения]='Есть'))
GO
/****** Object:  Check [CK__Объект_не__Номер__45F365D3]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD  CONSTRAINT [CK__Объект_не__Номер__45F365D3] CHECK  (([Номер_на_этаже]>(0)))
GO
ALTER TABLE [dbo].[Объект_недвижимости] CHECK CONSTRAINT [CK__Объект_не__Номер__45F365D3]
GO
/****** Object:  Check [CK__Объект_не__Площа__47DBAE45]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD CHECK  (([Площадь]>(0)))
GO
/****** Object:  Check [CK__Объект_не__Стату__48CFD27E]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD CHECK  (([Статус]='Не доступен' OR [Статус]='Свободен' OR [Статус]='Занят'))
GO
/****** Object:  Check [CK__Объект_не__Цена___46E78A0C]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD CHECK  (([Цена_аренды]>(0)))
GO
/****** Object:  Check [CK__Объект_нед__Этаж__44FF419A]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Объект_недвижимости]  WITH CHECK ADD CHECK  (([Этаж]>(0) AND [Этаж]<=(5)))
GO
/****** Object:  Check [CK__Сотрудник__Стату__02084FDA]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD CHECK  (([Статус]='Уволен' OR [Статус]='Работает'))
GO
/****** Object:  Check [CK__Торговая___Тип_м__03F0984C]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Торговая_точка]  WITH CHECK ADD CHECK  (([Тип_магазина]='Прочее' OR [Тип_магазина]='Аксессуары' OR [Тип_магазина]='Обувь' OR [Тип_магазина]='Одежда' OR [Тип_магазина]='Техника' OR [Тип_магазина]='Поесть'))
GO
/****** Object:  ForeignKey [FK__Договор_а__ID_Ар__787EE5A0]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Договор_аренды]  WITH CHECK ADD FOREIGN KEY([ID_Арендатора])
REFERENCES [dbo].[Арендатор] ([ID_Арендатора])
GO
/****** Object:  ForeignKey [FK__Договор_а__ID_Об__7A672E12]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Договор_аренды]  WITH CHECK ADD FOREIGN KEY([ID_Объекта_недвижимости])
REFERENCES [dbo].[Объект_недвижимости] ([ID_Объекта_недвижимости])
GO
/****** Object:  ForeignKey [FK__Договор_а__ID_Со__797309D9]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Договор_аренды]  WITH CHECK ADD FOREIGN KEY([ID_Сотрудника])
REFERENCES [dbo].[Сотрудник] ([ID_Сотрудника])
GO
/****** Object:  ForeignKey [FK__Платеж__ID_Догов__7F2BE32F]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Платеж]  WITH CHECK ADD FOREIGN KEY([ID_Договора])
REFERENCES [dbo].[Договор_аренды] ([ID_Договора])
GO
/****** Object:  ForeignKey [FK__Торговая___ID_Об__73BA3083]    Script Date: 11/26/2025 21:48:14 ******/
ALTER TABLE [dbo].[Торговая_точка]  WITH CHECK ADD FOREIGN KEY([ID_Объекта_недвижимости])
REFERENCES [dbo].[Объект_недвижимости] ([ID_Объекта_недвижимости])
GO
